/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-markdown-overide";
@import "bootstrap-table";
@import "comments";
@import "posts";
@import "students";
@import "users";


.container-small {
    @extend .container;
    width: 585px;
}


/* Buffers */
.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}




.linkable {
    text-decoration: none;
    color: black;
}

.linkable:hover {
    text-decoration: none;
    color: black;
}

.list-item {
    padding: 20px;
    /*border-width: 1px 0 0 0;*/
    border-top: 1px solid rgba(170,170,170,.4);
    text-decoration: none;
}

.list-item:hover {
    background-color: #f5f5f5;
}
